.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
.container-fluid {
      padding: 60px 50px;
  }
.logo-small {
      color: skyblue;
      font-size: 50px;
  }
  .logo {
      color:gray;
      font-size: 200px;
  }
.social .fa-facebook:hover {
    color: #4060A5;
}

.social .fa-twitter:hover {
    color: #00ABE3;
}

.social .fa-google-plus:hover {
    color: #e64522;
}

.social .fa-linkedin:hover {
    color: #0094BC;
}
